<a href="https://colab.research.google.com/github/varun2068/Python/blob/main/Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas** **-** ```DataFrames```

Probably the most important data structure of pandas is the ```Data Frames```. It's a tabular structure tightly integrated with ```Series```

In [1]:
import numpy as np
import pandas as pd

We'll keep our analysis of G7 countries and looking now at Data Frames. As said, a DataFrame looks like a lot table

In [9]:
 df = pd.DataFrame({
    'Population': [35.467, 63.953, 80.94, 60.665, 127.063, 64.511, 318.523],
    'GDP': [1785387, 2833687, 3874437, 2167744, 4602367, 2980039, 17348075],
    'Surface Area': [9964670, 640879, 357114, 301336, 377930, 242495, 9525067],
    'HDI':[0.913, 0.888, 0.916, 0.873, 0.891, 0.907, 0.915],
    'Continent': ['America', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'America']
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [10]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9964670  0.913   America
1      63.953   2833687        640879  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.063   4602367        377930  0.891      Asia
5      64.511   2980039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [47]:
df.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']

In [71]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9964670  0.913   America
France              63.953   2833687        640879  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.063   4602367        377930  0.891      Asia
United Kingdom      64.511   2980039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [11]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [14]:
df.info

<bound method DataFrame.info of    Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9964670  0.913   America
1      63.953   2833687        640879  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.063   4602367        377930  0.891      Asia
5      64.511   2980039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America>

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 408.0+ bytes

In [20]:
df.size

35

In [21]:
df.shape

(7, 5)

In [25]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [26]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.303143  5.084534e+06  3.058499e+06  0.900429
std     97.249889  5.492093e+06  4.571129e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.309000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.980039e+06  3.779300e+05  0.907000
75%    104.001500  4.238402e+06  5.082973e+06  0.914000
max    318.523000  1.734808e+07  9.964670e+06  0.916000

In [29]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

##**Indexing, Selection and Slicing**

In [30]:
 df['Population']

0     35.467
1     63.953
2     80.940
3     60.665
4    127.063
5     64.511
6    318.523
Name: Population, dtype: float64

In [32]:
df['Population'].to_frame()

   Population
0      35.467
1      63.953
2      80.940
3      60.665
4     127.063
5      64.511
6     318.523

In [33]:
df[['Population', 'GDP']]

   Population       GDP
0      35.467   1785387
1      63.953   2833687
2      80.940   3874437
3      60.665   2167744
4     127.063   4602367
5      64.511   2980039
6     318.523  17348075

We can also write instead of ```df['Population].to_frame() ``` to the below code

In [34]:
df[['Population']]

   Population
0      35.467
1      63.953
2      80.940
3      60.665
4     127.063
5      64.511
6     318.523

In [35]:
df[1:3]

   Population      GDP  Surface Area    HDI Continent
1      63.953  2833687        640879  0.888    Europe
2      80.940  3874437        357114  0.916    Europe

In [42]:
df[4:]

   Population       GDP  Surface Area    HDI Continent
4     127.063   4602367        377930  0.891      Asia
5      64.511   2980039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [49]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [51]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [56]:
df.loc['France' :'Italy',['Population', 'GDP']]

         Population      GDP
France       63.953  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [57]:
df.iloc[[0,0,-1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9964670  0.913   America
Canada             35.467   1785387       9964670  0.913   America
United States     318.523  17348075       9525067  0.915   America

In [61]:
df.iloc[1:5,[2, 4]]

         Surface Area Continent
France         640879    Europe
Germany        357114    Europe
Italy          301336    Europe
Japan          377930      Asia

In [65]:
df.iloc[1:3, 0:3]

         Population      GDP  Surface Area
France       63.953  2833687        640879
Germany      80.940  3874437        357114

**RECOMMENDED: Always use ```loc``` and ```iloc``` to reduce ambiguity, specifically with```Data Frame```s with numberic indexes.**

##**Conditional Selection** **(boolean Arrays)**

As applied in ```Series``` we also apply conditionals on the ```Data Frame```s. After all, ```Data Frame``` is a collection of ```Series```.

In [66]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9964670  0.913   America
France              63.953   2833687        640879  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.063   4602367        377930  0.891      Asia
United Kingdom      64.511   2980039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [67]:
df['Population']

Canada             35.467
France             63.953
Germany            80.940
Italy              60.665
Japan             127.063
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [68]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [69]:
df.loc[df['Population'] > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.063   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [73]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.063
United States    318.523
Name: Population, dtype: float64

In [77]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.063   4602367
United States     318.523  17348075

##**Dropping Stuff**

In [79]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.953   2833687        640879  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.063   4602367        377930  0.891      Asia
United Kingdom      64.511   2980039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [80]:
df.drop(columns=['HDI', 'Surface Area'])

                Population       GDP Continent
Canada              35.467   1785387   America
France              63.953   2833687    Europe
Germany             80.940   3874437    Europe
Italy               60.665   2167744    Europe
Japan              127.063   4602367      Asia
United Kingdom      64.511   2980039    Europe
United States      318.523  17348075   America

In [82]:
df.drop(['Population', 'Continent'], axis=1)

                     GDP  Surface Area    HDI
Canada           1785387       9964670  0.913
France           2833687        640879  0.888
Germany          3874437        357114  0.916
Italy            2167744        301336  0.873
Japan            4602367        377930  0.891
United Kingdom   2980039        242495  0.907
United States   17348075       9525067  0.915

In [83]:
df.drop(['Population', 'HDI'], axis = 'columns')

                     GDP  Surface Area Continent
Canada           1785387       9964670   America
France           2833687        640879    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2980039        242495    Europe
United States   17348075       9525067   America

In [85]:
df.drop(['Canada', 'Germany'], axis = 'rows')

                Population       GDP  Surface Area    HDI Continent
France              63.953   2833687        640879  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.063   4602367        377930  0.891      Asia
United Kingdom      64.511   2980039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [87]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])

In [88]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1980039.0  0.607
United States   16348075.0  0.615

In [90]:
rise = pd.Series([1_000, 0.3], index=['GDP', 'HDI'])

In [91]:
df[['GDP', 'HDI']] + rise

                       GDP    HDI
Canada           1786387.0  1.213
France           2834687.0  1.188
Germany          3875437.0  1.216
Italy            2168744.0  1.173
Japan            4603367.0  1.191
United Kingdom   2981039.0  1.207
United States   17349075.0  1.215

##**Operations**

In [92]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.953   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.063   4602367
United Kingdom      64.511   2980039
United States      318.523  17348075

In [93]:
df[['Population', 'GDP']] / 100

                Population        GDP
Canada             0.35467   17853.87
France             0.63953   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27063   46023.67
United Kingdom     0.64511   29800.39
United States      3.18523  173480.75

**Operations with Series** work at a column level, broadcasting down the rows(which can be counter inclusive)

In [94]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])

df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1980039.0  0.607
United States   16348075.0  0.615

##**Modifying Data Frames**

It's simple and intutuive, You can add columns, or replace value for columns without issues.

**Adding a new Column**

In [95]:
langs = pd.Series(['French', 'German', 'Italian'],
                  index=['France', 'German', 'Italy'],
                  name="Language")

In [96]:
df['Language'] = langs

In [97]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9964670  0.913   America      NaN
France              63.953   2833687        640879  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe      NaN
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.063   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2980039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

**Replacing values per column**

In [98]:
df['Language'] = 'English'

In [99]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9964670  0.913   America  English
France              63.953   2833687        640879  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.063   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2980039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

**Renaming Column**