<a href="https://colab.research.google.com/github/varun2068/Python/blob/main/Pandas%20Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Introduction To Pandas**

In [ ]:
import pandas as pd
import numpy as np

##**Panda Series**

Here are the **'Group of Seven'** which is political formed by Japan, Canada, France, Germany, Italy, United Kingdom and The United States. We are analyzing the population and for that we are using *panda.Series* object.

In [ ]:
g7 = pd.Series([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523])

In [ ]:
g7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [ ]:
g7.name = 'G7 Population in millions'

In [ ]:
g7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
 g7.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [ ]:
g7[0]

35.467

In [ ]:
g7.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
g7.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [ ]:
g7

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
pd.Series({
    'Canada' : 35.467,
    'France': 63.951,
    'Germany': 80.940,
    'Italy' : 60.665,
    'Japan' : 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name = 'G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index= [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
],
name = 'G7 Population in millions'
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
pd.Series(g7, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

##**Indexing**

In [ ]:
g7['Canada']

35.467

In [ ]:
g7.iloc[0]

35.467

**iloc** select a particular cell of the dataset

In [ ]:
g7.iloc[-1]

318.523

**Selecting Multiple elements at once**

In [ ]:
g7[['Canada', 'Japan']]

Canada     35.467
Japan     127.061
Name: G7 Population in millions, dtype: float64

**Another way to select**

In [ ]:
g7.iloc[[0, 1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

Slicing also works, But **important** in Pandas, the upper limit is also included

In [ ]:
g7['Canada' : 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

##**Condition Selection**

In [ ]:
g7

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7 > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

**In above code** it is checked along all the numbers and return the boolean series or bollean array according to the condition. **But in below code** ```
[g7> 80]
```first executed and it return the above result which act as index and the ```g7[g7 > 70]```.

In [ ]:
g7[g7 > 80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7.mean()

107.30257142857144

In [ ]:
g7.std()

97.24996987121581

In [ ]:
g7.var()

9457.556639952383

In [ ]:
g7[g7 > g7.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7[(g7 > g7.mean() - g7.std() / 2) | (g7 > g7.mean() + g7.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

##**Operations and Methods**

In [ ]:
g7

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [ ]:
g7 * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
dtype: float64

In [ ]:
g7.mean()

107.30257142857144

In [ ]:
np.log(g7)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
dtype: float64

In [ ]:
g7['France': 'Italy'].mean()

68.51866666666666

##**Boolean Arrays**

In [ ]:
g7

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [ ]:
g7 > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
dtype: bool

In [ ]:
g7[g7> 80]

Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [ ]:
g7[(g7 > 80) | (g7 < 40)]

Germany           80.940
Japan            127.061
United States    318.523
dtype: float64

In [ ]:
g7[(g7 > 80) & (g7 < 200)]

Germany     80.940
Japan      127.061
dtype: float64

##**Modifying Series**

In [ ]:
g7['Canada'] = 40.5

In [ ]:
g7

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [ ]:
g7.iloc[-1] = 500

In [ ]:
g7

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
dtype: float64

In [ ]:
g7[g7 < 70] = 99.99

In [ ]:
g7

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
dtype: float64